/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Selector to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styling */
html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    color: #3a3a3a;
}

/* Header styling */
header {
    background-color: #daa520;
    display: flex;
    justify-content: center;
    align-items: baseline;
    box-shadow: 0 4px 4px #3a3a3a;
    padding: 0;
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 57px;
}

/* Nav bar styling */
nav {
    background-color: #daa520;
    width: 100%;
    box-shadow: 0 4px 4px #3a3a3a;
    display: none;
    top: 100%;
    margin-top: 56.8px;
}

nav ul li a {
    color: #3a3a3a;
}

#menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding-bottom: 5px;
    align-items: center;
    height: auto;
    flex-direction: column;
    width: 100%;
}

#menu li {
    flex: 1;
    text-align: center;
    align-items: center;
    border-bottom: #3a3a3a solid 2px;
    margin-bottom: 3px;
}

#menu a {
    text-decoration: none;
    font-size: 2em;
    transition: color;
}

.active {
    color: rgba(255, 0, 0, .5);
}

/* Dropdown toggle styling */
#menu-toggle {
    visibility: hidden;
    position: absolute;
}

.menu-toggle-label {
    position: absolute;
    height: 57px;
    width: 100%;
}

#menu-toggle:checked~nav {
    display: flex;
}

#dropdown-icon {
    display: flex;
    font-size: 2em;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}

#dropdown-icon span {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 400;
    margin-left: 5px;
}

/* Styling for main heading */
#main-heading {
    height: 40vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255, 0, 0, .5), rgba(255, 0, 0, .5)), url(../images/main-heading-background.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    text-transform: uppercase;
    margin-top: 57px;
    text-shadow: 0 4px 4px #3a3a3a;
    flex-direction: column;
}

#main-heading h1 {
    color: #daa520;
    font-family: 'Cinzel', serif;
    font-size: 3.5em;
    font-weight: 400;
}

/* Styling for main heading information page */
#main-heading-info {
    height: 20vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(255, 0, 0, .7), rgba(255, 0, 0, .7)), url(../images/information-section-background.webp);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    text-transform: uppercase;
    margin-top: 57px;
    text-shadow: 0 4px 4px #3a3a3a;
    flex-direction: column;
}

#main-heading-info h1 {
    color: #daa520;
    font-family: 'Cinzel', serif;
    font-size: 3em;
    font-weight: 400;
}

/* Main index content styling */
main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    background-color: pink;
    text-align: center;
}

.decorative-bar-primary  {
    height: 3vh;
    background-image: linear-gradient(rgba(218, 165, 32, .7), rgba(218, 165, 32, .7)), url(../images/decorative-bar-gladiatour.webp.jpg);
    background-size: 28vh;
    background-position: center;
    box-shadow: 0 0 4px 4px #3a3a3a;
    z-index: 1;
}

#about {
    color: #daa520;
    font-size: 150%;
    background-image: url(../images/about-section-background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

#about h2 {
    background-color: rgba(0, 0, 0, .7);
    align-self: center;
    width: 75%;
    margin-left: 12.5%;
    font-weight: 400;
    padding: 20px;
    margin-top: 70px;
}

#about p {
    width: 75%;
    margin-left: 12.5%;
    background-color: rgba(0, 0, 0, .7);
    padding: 20px;
    font-size: 80%;
}

.btn-primary {
    display: inline-block;
    background-color: rgba(255, 0, 0, 1);
    color: rgba(218, 165, 32, 1);
    padding: 10px 20px;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 110%;
    font-weight: 600;
    box-shadow: 0 0 5px 1px rgba(218, 165, 32, .8);
    transition: box-shadow 0.4s;
    text-decoration: none;
}

.btn-primary:hover {
    box-shadow: 0 0 5px 13px rgba(218, 165, 32, .8);
    transform: scale(1.10);
}

/* Main information page styling */
#gladiators {
    background-color: #3a3a3a;
    height: 100%;
    color: #daa520;
}

.gladiators {
    width: 100%; 
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 5px #3a3a3a; 
}

#gladiators h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.glad-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.pronunciation {
    text-decoration: underline;
    font-style: italic;
}

#gladiators audio {
    margin-bottom: 20px;
    margin-top: 5px;
    width: 200px;
    height: 25px;
}

#gladiators p {
    margin-bottom: 40px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    max-width: 85%;
    margin-left: 7.5%;
    border-bottom: #daa520 solid 5px;
    padding-bottom: 30px;
}

#gladiators #glad-last {
    border: none;
    padding-bottom: 0;
}

/* Sign up form styling */
#signup {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(255, 0, 0, .5), rgba(255, 0, 0, .5)), url(../images/signup-form-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 57px;
}

#signup-form {
    background-color: rgba(0, 0, 0, .7);
    height: 35vh;
    width: 80vw;
    min-height: 375px;
    max-height: 400px;
    max-width: 500px;
    color: #daa520;
    line-height: 2.5;
    margin-bottom: 10%;
    border-radius: 10%;
}

.text-input {
    background-color: rgba(255, 0, 0, .8);
    color: #daa520;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 2px solid #daa520;
    border-radius: 15%;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}

/* Thank you page styling */
#thank-you {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(255, 0, 0, .5), rgba(255, 0, 0, .5)), url(../images/signup-form-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 57px;
}

#thank-you h1 {
    font-size: 3em;
    color: #daa520;
    font-family: 'Cinzel', serif;
    font-weight: 200;
    text-shadow: 0 4px 4px #3a3a3a;
    max-width: 90%;
}

#thank-you h3 {
    margin-top: 3vh;
    font-size: 1em;
    color: #daa520;
    text-shadow: 0 4px 4px #3a3a3a;
    max-width: 90%;
}

/* Footer styling */
#socials {
    display: flex;
    background-color: #daa520;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    box-shadow: 0 -4px 4px #3a3a3a;
    height: 57px;
}

#socials i {
    color: #3a3a3a;
    font-size: 200%;
    margin-top: 5px;
    width: 50%;
}

#socials i:hover {
    color: rgba(255, 0, 0, .5);
}

#socials li {
    border-left: 1px solid black;
    border-right: 1px solid black;
    flex: 1;
    text-align: center;
    height: 37px;
    margin-top: 10px;
}

/* Media query: large or lanscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #main-heading h1{
        font-size: 4.5em;
    }

    /* Main information styling */
    #gladiators h3 {
        font-size: 2em;
    }

    .glad-image {
        width: 300px;
        height: 300px;
    }

    .pronunciation {
        font-size: 1.2em;
    }

    #gladiators p {
        font-size: 1.2em;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Main heading styling */
    #main-heading h1{
        font-size: 6.5em;
    }

    #main-heading-info h1 {
        color: #daa520;
        font-family: 'Cinzel', serif;
        font-size: 5em;
        font-weight: 400;
    }
    
    /* Nav bar styling */
    nav {
        display: block;
        width: 100%;
        align-items: center;
        margin-top: 0;
    }
    
    #menu {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
        align-items: center;
        height: 57px;
        flex-direction: row;
    }
    
    #menu li {
        flex: 1;
        text-align: center;
        border-right: 1px solid black;
        border-left: 1px solid black;
        border-bottom: 0;
    }
    
    #menu a {
        text-decoration: none;
        font-size: 2em;
        transition: color;
    }
    
    #menu a:hover {
        color: rgba(255, 0, 0, .5);
    }

    /* Menu toggle styling */
    .menu-toggle-label {
        display: none;
    }

    #menu-toggle {
        display: none;
    }

    /* Main information styling */
    .glad-image {
        width: 400px;
        height: 400px;
    }

    .pronunciation {
        font-size: 1.5em;
    }

    #gladiators p {
        font-size: 1.5em;
    }

    /* Thank you page styling */
    #thank-you h1 {
        font-size: 5em;
    }
    
    #thank-you h3 {
        font-size: 1.8em;
    }
}

/* media query: larger devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #main-heading h1{
        font-size: 8em;
        transition: font-size 0.7s ease;
    }

    #main-heading h1:hover {
        font-size: 9em;    
    }

    /* Main content styling */
    #about h2 {
        width: 50%;
        margin-left: 25%;
        margin-top: 10vh;
    }

    #about p {
        width: 50%;
        margin-left: 25%;
        font-size: 100%;
    }
}
