/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Selector to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Styling for main heading */
.main-heading {
    height: 40vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff0000; 
    color: #daa520;
    font-family: 'Cinzel', serif;
    font-size: 8em;
    text-align: center;
    text-transform: uppercase;
}